.gradient-picker {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__preview {
        width: 100%;
        height: var(--gradient-picker-preview-height, 120px);
        border-radius: var(--gradient-picker-border-radius, 8px);
    }

    &__slider {
        height: var(--gradient-picker-input-height, 36px);
        border-radius: var(--gradient-picker-border-radius, 8px);
        box-shadow: var(--gradient-picker-box-shadow, inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1), 0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045), 0 3.5px 6px hsla(230, 13%, 9%, 0.09));
        cursor: crosshair;
        position: relative;

        &-handler {
            height: calc(100% + 8px);
            position: absolute;
            left: var(--handler-position);
            width: 16px;
            transform: translate(-50%, -4px);
            border: var(--gradient-picker-handler-border, solid 3px rgb(61, 61, 61));
            border-radius: var(--gradient-picker-border-radius, 8px);
            background: var(--handler-color);
            cursor: ew-resize;
        }
    }

    &__colors {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-variation {
            order: var(--color-order);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            width: 100%;
        }

        &-picker {
            display: flex;
            gap: 8px;
            align-items: center;
            width: 100%;
            width: -moz-available;
            width: -webkit-fill-available;
            width: fill-available;

            input {
                width: 100%;
            }
        }

        &-remover {
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;

            &:after {
                content: '✕';
                color: var(--gradient-picker-remover-color, #555);
            }

            &:hover:after {
                color: var(--gradient-picker-remover-color-hover, rgb(229, 64, 64));
            }
        }

        &-position {
            @media screen and (max-width: 768px) {
                width: 30%;
            }

            input {
                margin: 0;
                border: var(--gradient-picker-input-border, unset);
                box-shadow: var(--gradient-picker-box-shadow, inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1), 0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045), 0 3.5px 6px hsla(230, 13%, 9%, 0.09));
                text-transform: capitalize;
                background-color: white;
                width: clamp(30%, 100%, 100%);
                min-width: 80px;
            }
        }
    }

    &__options {
        display: flex;
        gap: 1rem;
    }

    input {
        &[type='color'] {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            padding: 0;
            width: var(--gradient-picker-input-height, 36px);
            min-width: var(--gradient-picker-input-height, 36px);
            height: var(--gradient-picker-input-height, 36px);
            border: var(--gradient-picker-input-border, unset);
            border-radius: var(--gradient-picker-border-radius, 8px);
            box-shadow: var(--gradient-picker-box-shadow, inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1), 0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045), 0 3.5px 6px hsla(230, 13%, 9%, 0.09));
            cursor: pointer;

            &::-webkit-color-swatch-wrapper {
                padding: 0;
            }

            &::-webkit-color-swatch {
                border: 0;
                border-radius: var(--gradient-picker-border-radius, 8px);
            }

            &::-moz-color-swatch,
            &::-moz-focus-inner {
                border: 0;
            }

            &::-moz-focus-inner {
                padding: 0;
            }
        }

        &[type='text'],
        &[type='number'] {
            height: var(--gradient-picker-input-height, 36px);
            padding: var(--gradient-picker-input-padding, 0.5rem);
            border-radius: var(--gradient-picker-border-radius, 8px);
            font-size: var(--gradient-picker-font-size, 14px);
            border: var(--gradient-picker-input-border, unset);
            box-shadow: var(--gradient-picker-box-shadow, inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1), 0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045), 0 3.5px 6px hsla(230, 13%, 9%, 0.09));
            line-height: var(--gradient-picker-line-height, 36px);
            background-color: var(--gradient-picker-background-color, white);
            color: var(--gradient-picker-color, black);
        }
    }

    &__select {
        margin: 0;
        border: var(--gradient-picker-input-border, unset);
        box-shadow: var(--gradient-picker-box-shadow, inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1), 0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045), 0 3.5px 6px hsla(230, 13%, 9%, 0.09));
        text-transform: capitalize;
        background-color: white;
        border-radius: var(--gradient-picker-border-radius, 8px);
        padding: var(--gradient-picker-input-padding, 0.5rem);
        width: 100%;
        height: var(--gradient-picker-input-height, 36px);
        line-height: var(--gradient-picker-line-height, 36px);
        font-size: var(--gradient-picker-font-size, 14px);
        background-color: var(--gradient-picker-background-color, white);
        color: var(--gradient-picker-color, black);
    }

    input:focus,
    select:focus {
        outline: var(--gradient-picker-focus-outline, none);
        box-shadow: var(--gradient-picker-focus-box-shadow, 0 0 0 2px rgb(0, 95, 204));
        border-color: var(--gradient-picker-focus-border-color, rgb(0, 95, 204));
    }
}